@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  color: #e5e7eb;
  background: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #040404;
}

html, body {
  font-family: "Inter Tight", sans-serif;
}

button, a {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: #ffffff;
  color: #000000;
}





.resume-scroll::-webkit-scrollbar {
  width: 6px;
}

.resume-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.resume-scroll::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 999px;
}

.resume-scroll::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

/* Firefox */
.resume-scroll {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}